<div class="footer-contact">
    <div class="container">
        <div class="linkedin">
            <a href="{{ linkedingUrl }}">
                <img src="https://img.icons8.com/metro/26/000000/linkedin.png">
            </a>
        </div>
        <div class="email">
            <a href="mailto: {{ email }}">
                <img src="https://img.icons8.com/ios/26/000000/new-post-filled.png">
            </a>
        </div>
        <div class="phone">
            <a href="tel: {{ phone }}">
                <img src="https://img.icons8.com/metro/26/000000/cell-phone.png">
            </a>
        </div>
    </div>
</div>
